@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 11 13 23;
        --color-secondary: 208 214 249;
        --color-tertiary: 255 255 255;
    }

}

body {
    background-image: url("/assets/home/background-home-mobile.jpg");
}

@screen md {
    body {
        background-image: url("/assets/home/background-home-tablet.jpg");
    }
}

@screen xl {
    body {
        background-image: url("/assets/home/background-home-desktop.jpg");
    }
}