@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 11 13 23;
        --color-secondary: 208 214 249;
        --color-tertiary: 255 255 255;
        --home-bg: url("/assets/home/background-home-mobile.jpg");
        --destination-bg: url("/assets/destination/background-destination-mobile.jpg");
        --crew-bg: url("/assets/crew/background-crew-mobile.jpg");
        --technology-bg: url("/assets/technology/background-technology-mobile.jpg");

    }

    @screen md {
        :root {
            --home-bg: url("/assets/home/background-home-tablet.jpg");
            --destination-bg: url("/assets/destination/background-destination-tablet.jpg");
            --crew-bg: url("/assets/crew/background-crew-tablet.jpg");
            --technology-bg: url("/assets/technology/background-technology-tablet.jpg");
        }
    }



    @screen xl {
        :root {
            --home-bg: url("/assets/home/background-home-desktop.jpg");
            --destination-bg: url("/assets/destination/background-destination-desktop.jpg");
            --crew-bg: url("/assets/crew/background-crew-desktop.jpg");
            --technology-bg: url("/assets/technology/background-technology-desktop.jpg");
        }
    }

}

html,
body {
    height: 100%;
    max-height: 100%;
    overflow: scroll;
}

body {
    background-image: var(--home-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#__next {
    @apply h-full flex flex-col
}